* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    bottom: 0;
    overflow-x: hidden;
}

header {
    background: #011b36;
    color: white;
    padding: 20px;
}

.btn {
    display: inline-block;
    background: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background: #218838;
}

.sobre, .beneficios {
    padding: 20px;
    background: rgba(255, 255, 255, 0.301);
    margin: 10px;
    width: 800px;
    max-width: 1000px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#compra {
    padding: 20px;
    background: rgba(255, 255, 255, 0.301);
    margin: 20px auto;
    width: 800px;
    height: 100px;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #011b33;
    color: white;
    padding: 30px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.books {
    width: 250px;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.lista {
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 20px;
    margin: 20px auto;
    width: 800px;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.bkg {
    background-image: url('bkg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; /* ou 'auto' se quiser manter o tamanho original */
    background-attachment: fixed; /* ISSO é o que fixa a imagem no fundo */
    min-height: 100vh;
    width: 100%;
    font-size: larger;
}
