body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    bottom: 0;
}
header {
    background: #011b36;
    color: white;
    padding: 20px;
}
.btn {
    display: inline-block;
    background: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.btn:hover {
    background: #218838;
}
.sobre, .beneficios{
    padding: 20px;
    background: white;
    margin: 20px auto;
    width: 80%;
    height: 300px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#compra {
    padding: 20px;
    background: white;
    margin: 20px auto;
    width: 80%;
    height: 100px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.books{
    width: 250px;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid black;
}

.lista{
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
    display: flex;
    justify-content: center;
    gap: 20px; /* Ajusta a distância entre os elementos */
    flex-wrap: wrap; /* Evita que quebrem no mobile */
    align-items: center; /* Centraliza verticalmente */
}

.sobre, .beneficios {
    width: 30%; /* Ajusta para ocupar melhor o espaço */
    max-width: none; /* Remove o limite de 600px */
    margin: 0; /* Remove margem extra */
}